#frame {
    padding-left: 23.75%; padding-right: 23.75%;
}
textarea {
    border-radius: 1px;
    background-color: rgba(45, 45, 45, 0.40);
    padding: 10px;
    outline: none;
    color: whitesmoke;
}
p {
    color: whitesmoke;
    text-align: center;
}