body {
    background-color: black; /*rgb(255, 185, 0)*/
    background-image: url("../images/chopping_board_dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}
h1 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#foodleLogo {
    text-decoration: none;
}
#searchTop {
    text-align: center;
    padding: 10px;
}
#search {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /*TODO: make better search bar centering*/
}
#searchBar {
    border: none;
    outline: none;
    padding: 6px;
    width: 50%;
    height: 25px;
    font-size: 17px;
}
#searchButton {
    border: 1px;
    outline: none;
    padding: 6px;
    height: 35px;
    width: 35px;
    font-size: 16px;
    background-color: white;
    color: rgb(45, 45, 45);
    text-align: center;
    text-decoration: none;
    display: inline-block;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#searchButton:hover {
    background-color: whitesmoke;
    /* color: black; */

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#searchButton:active {
    background-color: white;
    /* color: black; */
    
    -webkit-transition-duration: 0.3s;
    transition-duration: 03s;
}
