body {
    background-color: black; /*rgb(255, 185, 0)*/
    background-image: url("../images/background_edit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}

h1 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    outline: none;
}

a {
    cursor: pointer;
}

#loginButton {
    position: absolute;
    top: 1em;
    right: 2em;
    text-decoration: none;
    color: white;
}

#profileButton {
    position: absolute;
    top: 1em;
    right: 7em;
    text-decoration: none;
    color: white;
}

#addRecipeButtonTop {
    position: absolute;
    top: 1em;
    right: 11.5em;
    text-decoration: none;
    color: white;
}

#foodleLogo {
    text-decoration: none;
}

#searchTop2{
    text-align: left;
    padding: 20px;
}

#searchTop {
    text-align: center;
    padding: 10px;
}

#loginsearch {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%; /*TODO: make better search bar centering*/
}

#search {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /*TODO: make better search bar centering*/
}
#searchBar {
    border-radius: 1px;
    border: none;
    outline: none;
    padding: 6px;
    width: 50%;
    height: 25px;
    font-size: 17px;
}
#searchButton,
#addRecipeButton {
    border-radius: 5px;
    border: 1px;
    outline: none;
    padding: 6px;
    height: 37px;
    width: 37px;
    font-size: 17px;
    background-color: white;
    color: rgb(45, 45, 45);
    text-align: center;
    text-decoration: none;
    display: inline-block;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#searchButton:hover {
    background-color: whitesmoke;
    /* color: black; */

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#searchButton:active {
    background-color: white;
    /* color: black; */
    
    -webkit-transition-duration: 0.3s;
    transition-duration: 03s;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.recipeResult {
    margin-top:25px;
}
.AddRecipe {
    margin-top:25px;
    border-radius: 1px;
    background-color: rgba(45, 45, 45, 0.40);
    padding: 1px;
    padding-left: 20px;
    border: 1px solid white;
}
.dropbtn {
    background-color: rgba(45, 45, 45, 0.40);
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
    border: 1px solid white;
}
.ingredientbtn {
    background-color: rgba(45, 45, 45, 0.40);
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
    border: 1px solid white;
}
.GetthisRecipe {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    color: white;
    background-color: rgba(45, 45, 45, 0.60);
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 14px;
    text-align: right;
    display: block;
}
.ingredientdown {
    position: relative;
    display: inline-block;
}
.ingredient-content {
    display: none;
    position: absolute;
    right: 0;
    color: rgba(24, 23, 23, 0.9);
    background-color: rgba(45, 45, 45, 0.60);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ingredient-content a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 14px;
    text-align: right;
    display: block;
}

.timeandrating {
    float: right;
    font-size: 16px;
    margin-right: 20px;
}

.star {
    color: gold;
}


.container{
    display:flex;
    margin:0; 
}

.recipeResult::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 15px;
    margin-right: 15px;
}

.okay{
    position: relative;
    top: 2.8%;
    margin-left: 70%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(45, 45, 45, 0.60);
    padding: 10px;
    width: 100%;
    height: 90%;
    text-align: left;
}

#seperation{
    position: fixed;
    width: 25%;
    height: 80%;
    right: 25%;
    top: 10%;
}
/* #bottomStuff {
    position: absolute;
    bottom: 5px;
} */

#recipeResult{
    flex: 0 0 65;
    overflow: hidden;
    float: left;
    width: 100%;
}

img {
    float: left;
    max-width: 100%;
    height: auto;
}


.image-wrapper {
    float: left;
    width : 350px;
    height : 200px;
    overflow: hidden;
    margin-right: 0px;
}
.box-wrapper {
    float: center;
    width : 400px;
    height : 150px;
    overflow: hidden;
    margin-left: 37px;
}
.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 10px;
    border-radius: 5px;
    background: rgba(45, 45, 45, 0.60);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:rgb(0, 0, 0);
    cursor: pointer;
}
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
}
.tablecontents th {
    text-align: center;
    color: black;
}
.buttontable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 25px;      
}
.dropdown-content a:hover {background-color: rgba(0, 0, 0, 0.6);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgba(45, 45, 45, 0.60);}
.ingredient-content a:hover {background-color: rgba(0, 0, 0, 0.6);}
.ingredientdown:hover .ingredient-content {display: block;}
.ingredientdown:hover .ingredientbtn {background-color: rgba(45, 45, 45, 0.60);}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.imadeit {
    margin-bottom: 50px;
}
.boximage {

}